spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 150MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

file:
  upload-dir: ${UPLOAD_DIR}
  sample-dir: ${SAMPLE_DIR}

#  image, samples ???? ???? ???? ??